__pycache__

results/details/*
results/results/*
exps/spark_session_execute/*
exps/default_perf/*
exps/data_volume_correlation/**/*.log
exps/data_volume_correlation/**/*.json
exps/data_volume_correlation/**/*.png
exps/data_volume_correlation/**/*.pdf
exps/data_volume_correlation/**/execution_results.json
log/*

catboost_info/*
*.cbm

results/*
docs/
mock/*

.venv/*